.site-header {
    padding-block: 25px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    font-size: 28px;
    color: darkcyan;
    text-decoration-line: none;
}

.navbar-list {
    display: flex;
    column-gap: 40px;
    margin-block: 0;
    padding-left: 0;
    list-style-type: none;
}

.navbar-link {
    font-size: 20px;
    font-weight: 500;
    color: darkcyan;
    text-decoration-line: none;
}